{% extends 'AppBundle::layout-fo.html.twig' %}

{% block title %}{{ 'Contact us'|trans }} - Flare Up{% endblock %}{% block content %}
    <div class="row">
        <div class="col l12">
            <div class="contact-detail z-depth-1">
                <div class="col l7 col m12 col s12">
                    <div class="breadcrumb">
                        <a href="{{ path('app_default_homepage') }}">{{ 'Home'|trans }}</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="{{ path('app_contact_general') }}">{{ 'Contact Us'|trans }} </a>
                    </div>
                    <div class="col l7 col m6 col s12">
                        <div class="title">{{ 'Contact Detail'|trans }}</div>
                        {{ parameters.contentContact|raw }}
                        {{ render(controller('AppBundle:Default:socialFooter')) }}
                    </div>
                </div>
                <div class="col l5 col m6 col s12">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        {{ form_errors(form) }}
                        <div class="input-field">
                            <i class="fa fa-user prefix"></i>
                            <label for="appbundle_contact_name">{{ 'Name'|trans }}</label>
                            {{ form_widget(form.name, {'attr': {'class': 'validate'}}) }}
                        </div>
                        <div class="input-field">
                            <i class="fa fa-envelope-o prefix"></i>
                            <label for="appbundle_contact_email">{{ 'Email'|trans }}</label>
                            {{ form_widget(form.email, {'attr': {'class': 'validate'}}) }}
                        </div>
                        <div class="input-field">
                            {{ form_widget(form.message, {'attr': {'class': 'materialize-textarea'}}) }}
                            <label for="appbundle_contact_message">{{ 'Message here'|trans }}</label>
                        </div>
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-flat waves-effect waves-light shopping-cart-button right'}}) }}
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}