{% extends 'AppBundle::layout-fo.html.twig' %}

{% block title %}{{ 'Contact us'|trans }} - Flare Up{% endblock %}{% block content %}
    <div class="row">
        <div class="col l12">
            <div class="contact-detail z-depth-1">
                <div class="col l7 col m12 col s12">
                    <div class="breadcrumb">
                        <a href="{{ path('app_default_homepage') }}">{{ 'Home'|trans }}</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="{{ path('app_contact_general') }}">{{ 'Contact Us'|trans }} </a>
                    </div>
                    <div class="col l7 col m6 col s12">
                        <div class="title">{{ 'Contact Detail'|trans }}</div>
                        {{ parameters.contentContact|raw }}
                        {{ render(controller('AppBundle:Default:socialFooter')) }}
                    </div>
                </div>
                <div class="col l5 col m6 col s12">
                    <form action="#" method="post" id="contactForm" name="sentMessage">
                        <div class="input-field">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" required="" class="validate" id="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field">
                            <i class="fa fa-envelope-o prefix"></i>
                            <input type="email" required="" class="validate" id="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <textarea class="materialize-textarea" id="textarea1"></textarea>
                            <label for="textarea1">Message Here</label>
                        </div>
                        <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button right">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}