{% extends 'AppBundle::layout-bo.html.twig' %}

{% block content %}
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

            <div class="mdl-cell mdl-cell--11-col-desktop mdl-cell--11-col-tablet mdl-cell--4-col-phone ">
                <div class="mdl-card__title" style="position: relative">
                    <h2 class="mdl-card__title-text">{{ 'Messages' }}</h2>
                </div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp projects-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">{{ 'Name'|trans }}</th>
                        <th class="mdl-data-table__cell--non-numeric">{{ 'Email'|trans }}</th>
                        <th class="mdl-data-table__cell--non-numeric">{{ 'Date send '|trans }}</th>
                        <th class="mdl-data-table__cell--non-numeric">{{ 'Date read'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr class="read-message">
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="{{ path('app_backofficebundle_contact_view', {'id': contact.id} ) }}">{{ contact.name | slice(0, 60) }}</a>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="{{ path('app_backofficebundle_contact_view', {'id': contact.id} ) }}">{{ contact.email }}</a>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ contact.dateCreated|date('d M Y H:i') }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if contact.dateRead is null %}
                                    {{ 'Not read'|trans }}
                                {% else %}
                                    {{ contact.dateRead|date('d M Y H:i') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}