{% extends '::front-office.html.twig' %}

{% block flashMessage %}

{% endblock %}

{% block header %}
<header class="header-fix">
    <!-- Header Top Display In large and Tablet Device -->
    <div class="header-top hide-on-small-only">
        <div class="container">
            <div class="row">
                <div class="col l1 col m1 col s12">
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu fa fa-bars"></i></a>
                    <!-- Dropdown -->
                    <div class="header-dropdown"> </div>
                </div>
                <div class="col l10 col m9 col s12">
                    <!-- Logo -->
                    <!-- Navigation -->
                    {% block nav %}
                        {{ render(controller('AppBundle:Default:navbar')) }}
                    {%  endblock %}
                </div>
                <div class="col l1 col m2 col s12 pull-right col-login-search">
                    {{ render(controller('AppBundle:Default:searchEngine')) }}
                    <a href="{{ path('app_backofficebundle_home') }}" class="left login">
                        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Header top Display On Mobile -->
    <div class="header hide-on-med-and-up">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col l4 col m5 col s2">
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu fa fa-bars"></i></a>
                    </div>

                    <div class="col l4 col m4 col s2">
                        <!-- Search Button -->
                        <form class="searchbox">
                            <input type="text" placeholder="Type and Press Enter" name="search" class="searchbox-input" required>
                            <input type="submit" class="searchbox-submit">
                            <span class="searchbox-icon"><i class="mdi-action-search fa fa-search"></i></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col l4 col m4 col s12">
                        <div class="logo">
                            <a href="{{ path('app_default_homepage') }}"><img src="{{ asset('bundles/app/images/logo_233.png') }}" alt="{{ 'Flare Up' }}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Sidebar Navigation -->
{{ render(controller('AppBundle:Default:sidebar')) }}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l12 col m12 col s12">
                <!-- Footer Button -->
                <div class="footer-button center-align">
                    <a href="" class="logo-footer">
                        <img src="{{ asset('bundles/app/images/logo-footer.png') }}" alt="" />
                    </a>
                </div>
            </div>

            <div class="col l12 col m12 col s12">
                {{ render(controller('AppBundle:Default:footer1')) }}
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
            <!-- Copyright Text -->
            <div class="col l4 col m12 col s12">

                <a href="{{ path('app_fo_whoarewe') }}"> FlareUp - {{ 'Who are-we ?'|trans }}</a>
            </div>
            <div class="col l4 col m12 col s12">
                {{ render(controller('AppBundle:Default:socialFooter')) }}
            </div>
            <div class="col l4 col m12 col s12">
                <!-- Footer Menu -->
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="{{ path('app_fo_disclamer') }}">{{ 'Privacy'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('app_contact_general') }}">{{ 'Contact us'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}