{% extends '::front-office.html.twig' %}

{% block flashMessage %}

{% endblock %}

{% block header %}
<header>
    <!-- Header Top Display In large and Tablet Device -->
    <div class="header-top hide-on-small-only">
        <div class="container">
            <div class="row">
                <div class="col l4 col m5 col s12">
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
                    <!-- Dropdown -->
                    <div class="header-dropdown"> </div>
                </div>
                <div class="col l4 col m3 col s12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{{ path('app_default_homepage') }}"><img src="{{ asset('bundles/app/images/logo_233.png') }}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col l4 col m4 col s12 pull-right">
                    <!-- Search Button -->
                    <form class="searchbox">
                        <input type="text" placeholder="Type and Press Enter" name="search" class="searchbox-input" required>
                        <input type="submit" class="searchbox-submit">
                        <span class="searchbox-icon"><i class="mdi-action-search"></i></span>
                    </form>
                    <!-- LogIn Link -->
                    <a href="{{ path('app_backofficebundle_home') }}" class="right login">{{ 'Login'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Header top Display On Mobile -->
    <div class="header hide-on-med-and-up">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col l4 col m5 col s2">
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    </div>

                    <div class="col l4 col m4 col s3">
                        <!-- LogIn Link -->
                        <a href="login.html" class="login">Login</a>
                    </div>
                    <div class="col l4 col m4 col s2">
                        <!-- Search Button -->
                        <form class="searchbox">
                            <input type="text" placeholder="Type and Press Enter" name="search" class="searchbox-input" required>
                            <input type="submit" class="searchbox-submit">
                            <span class="searchbox-icon"><i class="mdi-action-search"></i></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col l4 col m4 col s12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="images/material-logo.png" alt="Flare Up"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    {% block nav %}
        {{ render(controller('AppBundle:Default:navbar')) }}
    {%  endblock %}
</header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l12 col m12 col s12">
                <!-- Footer Button -->
                <div class="footer-button center-align">
                    <a href="" class="logo-footer">
                        <img src="{{ asset('bundles/app/images/logo-footer.png') }}" alt="" />
                    </a>
                </div>
            </div>

            <div class="col l12 col m12 col s12">
                {{ render(controller('AppBundle:Default:footer1')) }}
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
            <!-- Copyright Text -->
            <div class="col l4 col m12 col s12">
                © Copyright 2015 Material News by ThemeLeague
            </div>
            <div class="col l4 col m12 col s12">
                <!-- Social Icon -->
                <div class="social-icon">
                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-instagram"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-youtube"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-vine"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-rss"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-tumblr"></i></a>
                </div>
            </div>
            <div class="col l4 col m12 col s12">
                <!-- Footer Menu -->
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Privacy</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Advertisement</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}