{# add navigation current nav mark #}
{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Back-Office Blog Test{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% stylesheets output="compiled/css/main.css" filter='cssrewrite'
        'bundles/app/css/lib/getmdl-select.min.css'
        'bundles/app/css/lib/nv.d3.min.css'
        'bundles/app/css/application.min.css'
        'bundles/app/css/flare-up.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

    {% endblock %}
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        {% block header %}{% endblock %}

        {% block flash %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div>
                    {{ flashMessage }}
                </div>
            {% endfor %}

        {% endblock %}

        <div class="mdl-layout__drawer">
            <header>darkboard</header>
            {% block nav %}{% endblock %}
        </div>

        <!-- container content - BEGIN -->
        <main class="mdl-layout__content mdl-color--grey-100">
            {% block content %}{% endblock %}
        </main>
        <!-- container content - END -->

        {% block footer %}{% endblock footer %}

    </div>

{% block javascripts %}
    {% javascripts output="compiled/js/main.js"
    'bundles/app/js/jquery-1.12.3.js'
    'bundles/app/js/d3.min.js'
    'bundles/app/js/getmdl-select.min.js'
    'bundles/app/js/material.min.js'
    'bundles/app/js/nv.d3.min.js'
    'bundles/app/js/widgets/employer-form/employer-form.min.js'
    'bundles/app/js/widgets/line-chart/line-chart-nvd3.min.js'
    'bundles/app/js/widgets/pie-chart/pie-chart-nvd3.min.js'
    'bundles/app/js/widgets/table/table.min.js'
    'bundles/app/js/todo/todo.min.js'
    'bundles/app/js/flare-up.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        // get locale
        locale = "{{ app.request.locale }}";
        // get route
        route = "{{ route }}";
    </script>
{% endblock %}

</body>
</html>