<div class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon message" id="inbox" {% if contactsNotRead|length > 0 %}data-badge="{{ contactsNotRead|length }} {% endif %}">
    mail_outline
</div>

{% set bg = {
    '0': 'background-color--primary',
    '1': 'background-color--secondary',
    '2': 'background-color--baby-blue',
    '3': 'background-color--cerulean',
    '4': 'background-color--mint'
}%}

<ul class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp messages-dropdown"
    for="inbox">
    <li class="mdl-list__item">
        {{ 'You have %count%  new messages!'|trans({'%count%': contactsNotRead|length}) }}
    </li>
    {% for contact in contactsNotRead | slice(0, 5) %}
        <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
            <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-avatar {{ bg[random(4)] }}">
                    <text>{{ contact.name[:1]|upper }}</text>
                </span>
                <span>{{ contact.name|capitalize }}</span>
                <span class="mdl-list__item-sub-title">{{ contact.email }}</span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <span class="label label--transparent">{{ contact.dateCreated|date('d M Y H:i') }}</span>
            </span>
        </li>
    {% endfor %}
    <li class="mdl-list__item list__item--border-top">
        <a href="{{ path('app_backofficebundle_contact_list') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">{{ 'SHOW ALL MESSAGES'|trans }}</a>
    </li>
</ul>