{% extends 'AppBundle::layout-fo.html.twig' %}

{% block title %}{{ article.title }} - Flare Up{% endblock %}
{% block metaOG %}
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:section" content="{{ article.category.name }}" />
    <meta property="og:published_time" content="{{ article.publishedAt|date('Y-m-d H:i:s') }}" />
    <meta property="og:modified_time" content="{{ article.publishedAt|date('Y-m-d H:i:s') }}" />
    <meta property="og:url" content="http://{{ app.request.server.get('SERVER_NAME') }}{{ article.url }}" />
    <meta property="og:image" content="http://{{ app.request.server.get('SERVER_NAME') }}{{ asset('uploads/article/'~article.picture|e) }}" />
{% endblock %}
{% block content %}
    <div class="row article-display">
        <div class="col l9 col m12">
            <div class="news-single style-3 z-depth-1">
                <div class="breadcrumb">
                    <a href="{{ path('app_default_homepage') }}">{{ 'Home'|trans }}</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="{{ article.category.url }}">{{ article.category.name }} </a>
                    <i class="fa fa-angle-right"></i>
                    <a href="{{ article.url }}">{{ article.title }} </a>
                </div>
                <img class="responsive-img" src="{{ asset('uploads/article/'~article.picture|e) }}" alt="{{ article.title }}">
                <div class="content">
                    <div class="news-category" style="background-color: #{{ article.category.color }}">{{ article.category.name }}</div>
                    <h1 class="news-title">
                        {{ article.title }}
                    </h1>
                    <div class="description">
                        {{ article.content|raw }}
                    </div>
                    <div class="news-detail">
                        <span class="news-by"><a href="javascript:void(0);">{{ article.user.username }}</a></span>
                        <span class="news-month"><a href="javascript:void(0);"><i class="fa fa-clock-o"></i> {{ article.publishedAt|date('d M Y H:i') }}</a></span>
                        <span class="news-comment"><a href="javascript:void(0);" title="{{ 'Average time spent' }}"><i class="fa fa-clock-o"></i> {{ u['avgTimeOnSite']|number_format(0, ',', ' m ') }}</a></span>
                        <span class="news-comment"><a href="javascript:void(0);" title="{{ 'Number visitor' }}"><i class="fa fa-users"></i> {{ u['users'] }}</a></span>
                        <span class="news-view"><a href="javascript:void(0);" title="{{ 'Number visit' }}"><i class="fa fa-eye"></i> {{ u['pageViews'] }}</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 col m12">
            <div class="client-box z-depth-1">
                <a class="all-post" href="{{ article.user.url }}">
                    <img class="circle responsive-img" src="{{ asset('uploads/vignet/'~article.user.vignet|e) }}" alt="{{ article.user.username }}">
                    <div class="client-name">
                        {{ article.user.username }}
                    </div>
                </a>

                <div class="social-icon">
                    {% if article.user.twitter is not empty %}<a href="{{ article.user.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}
                    {% if article.user.facebook is not empty %}<a href="{{ article.user.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>{% endif %}
                    {% if article.user.instagram is not empty %} <a href="{{ article.user.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}
                </div>
                <a class="all-post" href="{{ article.user.url }}">{{ 'All post'|trans }}</a>
            </div>

            <div class="advertis z-depth-1">
                <div class="sidbar-box left-align">
                    <div class="sidebar-title">{{ 'Recent Post'|trans }}</div>
                    <div class="news-sidebar">
                        {% for userArticle in userArticles %}
                        <div class="news-box">
                            <div class="image">
                                <img alt="news Image" src="{{ asset('uploads/article/'~userArticle.picture|e) }}">
                            </div>
                            <div class="news-detail">
                                <div class="news-category">
                                    <p>{{ userArticle.publishedAt|date('d M Y H:i') }}</p>
                                </div>
                                <div class="news-title">
                                    <a href="{{ userArticle.url }}">{{ userArticle.title }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ render(controller('AppBundle:Comment:display', {'request': app.request, 'article': article})) }}
{% endblock %}