{% extends 'AppBundle::layout-fo.html.twig' %}

{% block title %}{{ 'Disclamer'|trans }} - Flare Up{% endblock %}{% block content %}
    <div class="row">
        <div class="col l12">
            <div class="contact-detail z-depth-1">
                <div class="col l12 col m12 col s12">
                    <div class="breadcrumb">
                        <a href="{{ path('app_default_homepage') }}">{{ 'Home'|trans }}</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="{{ path('app_fo_disclamer') }}">{{ 'Diclamer'|trans }} </a>
                    </div>
                    <h1 class="title">{{ 'Disclamer' }}</h1>
                    {{ parameter.privacy|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}