{% for article in articles|slice(0, 2) %}
    <div class="col l3 col m6 col s12">
        <!-- Vertical News Box -->
        <div class="news vertical z-depth-1">
            <span class="label-category" style="background-color: #{{ article.category.color }}">{{ article.category.name }}</span>
            <!-- News Image -->
            <div class="news-image">
                <img class="responsive-img" src="{{ asset('uploads/article/'~article.picture|e) }}" alt="{{ article.title }}">
            </div>
            <!-- News Description -->
            <div class="news-description">
                <div class="news-time">
                    <i class="fa fa-clock-o"></i> {{ article.publishedAt|date('d M Y h:i') }}
                </div>
                <div class="news-title"><a href="{{ article.url }}">{{ article.title | striptags | slice(0, 55) }}</a></div>
                <div class="news-content"><p>{{ article.smallContent | striptags | slice(0, 105) }} [...] </p></div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="col l6 col m12 col s12">
    <div class="z-depth-1">
        {% for article in articles|slice(2, 2) %}
            <div class="news horizontal">
                <span class="label-category right" style="background-color: #{{ article.category.color }}">{{ article.category.name }}</span>
                <div class="col l4 col m4 col s12 no-padding">
                    <div class="news-image">
                        <img class="responsive-img" src="{{ asset('uploads/article/'~article.picture|e) }}" alt="{{ article.title }}">
                    </div>
                </div>
                <div class="col l8 col m8 col s12 no-padding">
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> {{ article.publishedAt|date('d M Y h:i') }}
                        </div>
                        <div class="news-title"><a href="{{ article.url }}">{{ article.title | striptags | slice(0, 65) }}</a></div>
                        <div class="news-content"><p>{{ article.smallContent | striptags | slice(0, 110) }} [...]</p></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>