{% extends 'AppBundle::layout-fo.html.twig' %}

{% block content %}
        <div class="row">
            <div class="col l9 col m12 col s12">
                <!-- News Slider -->
                {{ render(controller('AppBundle:Default:slider')) }}
            </div>

            <div class="col l3 col m12 col s12">
                {{ render(controller('AppBundle:Subscriber:index', {'request': app.request})) }}
            </div>
        </div>

        <div class="row">
            {{ render(controller('AppBundle:Default:articleList')) }}
        </div>

        <div class="row">
            {{ render(controller('AppBundle:Default:articleListInline')) }}
        </div>

        <div class="row">
            <div class="col l12 col m12 col s12">
                <!-- blockquote -->
                <div class="blockquote-breaking z-depth-1">
                    <span>{{ 'Hot News'|trans }}:</span> Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor.
                </div>
            </div>
        </div>

        {#<div class="row">
            <div class="col l6 col m6 col s12">
                <!-- News Blog Box -->
                <div class="news-blog z-depth-1">
                    <!-- News Blog Image -->
                    <div class="image">
                        <img class="responsive-img" src="images/big-news4.jpg" alt="news Image">
                    </div>
                    <!-- News Blog Category -->
                    <div class="news-category">
                        <span class="purple">Life</span>
                        <!-- Dropdown -->
                        <div class="news-dropdown">
                            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1"><i class="fa fa-ellipsis-v "></i></a><ul id="dropdown1" class="dropdown-content">
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- News Blog Description -->
                    <div class="news-description">
                        <div class="news-time">
                            21 min ago
                        </div>
                        <div class="news-title"> <a href="javascript:void(0);"> Netanyachu's Likud Party <br> Sweeps to Israel election. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus <br> non rutrum. Integer ut nisi risus In dapibus ac tellus.</p></div>
                    </div>
                </div>
            </div>
            <div class="col l6 col m6 col s12">
                <!-- News Blog Box -->
                <div class="news-blog z-depth-1">
                    <!-- News Blog Video -->
                    <div class="video-container no-controls">
                        <iframe src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1" allowfullscreen=""></iframe>
                    </div>
                    <!-- News Blog Category -->
                    <div class="news-category">
                        <span class="orange">Video</span>
                        <!-- Dropdown -->
                        <div class="news-dropdown">
                            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown2"><i class="fa fa-ellipsis-v "></i></a><ul id="dropdown2" class="dropdown-content">
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- News Blog Description -->
                    <div class="news-description">
                        <div class="news-time">
                            21 min ago
                        </div>
                        <div class="news-title"> <a href="javascript:void(0);"> Party Sweepsto Israel <br> election Victory </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac <br> tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
        </div>#}

       {# <div class="row">
            <div class="col l6 col m6 col s12">
                <!-- News Blog Solid Box -->
                <div class="news-blog solid z-depth-1">
                    <!-- News Blog Category -->
                    <div class="news-category">
                        <span class="pink">More</span>
                        <!-- Dropdown -->
                        <div class="news-dropdown">
                            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown3"><i class="fa fa-ellipsis-v "></i></a><ul id="dropdown3" class="dropdown-content">
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- News Blog Description -->
                    <div class="news-description center-align">
                        <div class="quote"><i class="fa fa-quote-left"></i></div>
                        <div class="news-title"> <a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna et bibendum leo metus vel magna.  </a></div>
                        <div class="news-content"><p>President of ThemeLeague <br> Dark Waider</p></div>
                    </div>
                </div>
            </div>
            <div class="col l6 col m6 col s12">
                <!-- News Blog Box -->
                <div class="news-blog z-depth-1">
                    <!-- News Blog Image -->
                    <div class="image">
                        <img class="responsive-img" src="images/big-news5.jpg" alt="news Image">
                    </div>
                    <!-- News Blog Category -->
                    <div class="news-category">
                        <span class="green">Money</span>
                        <!-- Dropdown -->
                        <div class="news-dropdown">
                            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown4"><i class="fa fa-ellipsis-v "></i></a><ul id="dropdown4" class="dropdown-content">
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                                <li><a href="javascript:void(0);">Option 1</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- News Blog Description -->
                    <div class="news-description">
                        <div class="news-time">
                            21 min ago
                        </div>
                        <div class="news-title"> <a href="javascript:void(0);">Party Sweepsto Israel <br> election Victory</a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus <br> ac tellus non rutrum. Integer.</p></div>
                    </div>
                </div>
            </div>
        </div>#}

        {#<div class="row">
            <div class="col l6 col m12 col s12">
                <div class="z-depth-1">
                    <!-- Horizontal News Box -->
                    <div class="news horizontal">
                        <div class="col l4 col m4 col s12 no-padding">
                            <!-- News Image -->
                            <div class="news-image">
                                <img src="images/hor-news3.jpg" class="responsive-img" alt="news Image">
                            </div>
                        </div>
                        <div class="col l8 col m8 col s12 no-padding">
                            <!-- News  Description -->
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                            </div>
                        </div>
                    </div>

                    <!-- Horizontal News Box -->
                    <div class="news horizontal no-border">
                        <div class="col l4 col m4 col s12 no-padding">
                            <!-- News Image -->
                            <div class="news-image">
                                <img src="images/hor-news4.jpg" class="responsive-img" alt="news Image">
                            </div>
                        </div>
                        <div class="col l8 col m8 col s12 no-padding">
                            <!-- News Description -->
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.</a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l3 col m6 col s12">
                <!-- Vertical News Box -->
                <div class="news vertical z-depth-1">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="images/profile7.jpg" class="responsive-img" alt="news Image">
                    </div>
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>

            <div class="col l3 col m6 col s12">
                <!-- Vertical News Box -->
                <div class="news vertical z-depth-1">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="images/profile4.jpg" class="responsive-img" alt="news Image">
                    </div>
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum Integer.</p></div>
                    </div>
                </div>
            </div>
        </div>#}

        {#<section class="section">
            <div class="row">
                <div class="col l3 col m6 col s12">
                    <div class="col l12 col m12 col s12 no-padding">
                        <!--  Vertical News Box -->
                        <div class="news vertical z-depth-1 margin-bottom-20">
                            <!-- News Image -->
                            <div class="news-image">
                                <img src="images/profile1.jpg" class="responsive-img" alt="news Image">
                            </div>
                            <!-- News Description -->
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l12 col m12 col s12 no-padding">
                        <!-- Vertical News Box -->
                        <div class="news vertical z-depth-1">
                            <!-- News Image -->
                            <div class="news-image">
                                <img src="images/profile2.jpg" class="responsive-img" alt="news Image">
                            </div>
                            <!-- News Description -->
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 col m6 col s12">
                    <!-- Vertical News Box -->
                    <div class="news vertical z-depth-1">
                        <!-- News Image -->
                        <div class="news-image">
                            <img src="images/big-news2.jpg" class="responsive-img" alt="news Image">
                        </div>
                        <!-- News Description -->
                        <div class="news-description">
                            <div class="news-time">
                                <i class="fa fa-clock-o"></i> 9 min ago
                            </div>
                            <div class="news-title large-font"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                            <div class="news-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur erat velit, tristique eu molestie vitae, malesuada eget est. Vestibulum ut aliquam libero. Nunc nec risus dolor. Aliquam pellentesque eget lectus vel lobortis. Donec gravida nec tortor ac semper. Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem. Quisque ultrices nulla dui. Praesent sollicitudin consectetur tincidunt.</p>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In lobortis dignissim eros sed convallis. Donec et quam eros. Suspendisse a enim sit amet nisl accumsan malesuada. Maecenas sodales velit at molestie blandit. Nullam maximus tellus ante, vitae finibus lorem luctus vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l3 col m12 col s12 no-padding">
                    <div class="col l12 col m6 col s12">
                        <!-- Vertical News Box -->
                        <div class="news vertical z-depth-1 margin-bottom-20">
                            <!-- News Image -->
                            <div class="news-image">
                                <img src="images/profile5.jpg" class="responsive-img" alt="news Image">
                            </div>
                            <!-- News Description -->
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l12 col m6 col s12">
                        <!-- Vertical News Box -->
                        <div class="news vertical z-depth-1">
                            <!-- News Image -->
                            <div class="news-image">
                                <img src="images/profile8.jpg" class="responsive-img" alt="news Image">
                            </div>
                            <!-- News Description -->
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>#}

        <section class="section">
            <div class="row">
                <div class="col l9 col m12 col s12">
                    <!-- Thumbnail Slider -->
                    <div class="thumbnail-slider z-depth-1">
                        <!-- Thumbnail Slider Category -->
                        <ul style="width: 100%;" class="tabs">
                            <li style="width: 20%;" class="tab"><a class="active" href="#News-category1">March Sadness</a></li>
                            <li style="width: 20%;" class="tab"><a href="#News-category2">Snapshot</a></li>
                            <li style="width: 20%;" class="tab"><a href="#News-category3">Terrorist Attack Donbass</a></li>
                            <li style="width: 20%;" class="tab"><a href="#News-category4">Prince Charles and Camilla visit the U.S.</a></li>
                            <li style="width: 20%;" class="tab"><a href="#News-category5">Your Take: Readers Photos of the Aurora Borealis</a></li>
                            <div style="right: 742px; left: 0px;" class="indicator"></div></ul>
                        <!-- Thumbnail Slider 1 -->
                        <div id="News-category1">
                            <div style="display: block; height: 520px; margin-bottom: 66px;" class="camera_wrap camera_magenta_skin" id="camera_wrap_1"><div class="camera_fakehover"><div class="camera_src camerastarted">
                                        <div data-thumb="images/big-news1.jpg" data-src="images/big-news1.jpg">

                                        </div>
                                        <div data-thumb="images/big-news2.jpg" data-src="images/big-news2.jpg">

                                        </div>
                                        <div data-thumb="images/big-news3.jpg" data-src="images/big-news3.jpg">

                                        </div>
                                        <div data-thumb="images/big-news4.jpg" data-src="images/big-news4.jpg">

                                        </div>
                                        <div data-thumb="images/big-news5.jpg" data-src="images/big-news5.jpg">

                                        </div>
                                        <div data-thumb="images/big-news6.jpg" data-src="images/big-news6.jpg">

                                        </div>
                                        <div data-thumb="images/big-news7.jpg" data-src="images/big-news7.jpg">

                                        </div>
                                        <div data-thumb="images/big-news8.jpg" data-src="images/big-news8.jpg">

                                        </div>
                                        <div data-thumb="images/big-news9.jpg" data-src="images/big-news9.jpg">

                                        </div>
                                        <div data-thumb="images/big-news10.jpg" data-src="images/big-news10.jpg">

                                        </div>
                                        <div data-thumb="images/big-news11.jpg" data-src="images/big-news11.jpg">

                                        </div>
                                        <div data-thumb="images/big-news12.jpg" data-src="images/big-news12.jpg">

                                        </div>
                                    </div><div class="camera_target"><div class="cameraCont"><div style="visibility: visible; display: none; z-index: 1;" class="cameraSlide cameraSlide_0"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news1.jpg?1460665149459" height="1000" width="1500"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_1"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news2.jpg?1460665150252" height="1000" width="1500"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: block; z-index: 999;" class="cameraSlide cameraSlide_2 cameracurrent"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news3.jpg?1460665196611" height="1000" width="1500"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_3 cameranext"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news4.jpg?1460665302134" height="1080" width="1620"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_4"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news5.jpg?1460665406130" height="1280" width="1920"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_5"><img data-portrait="" data-alignment="" style="visibility: visible; height: 521.438px; margin-left: 0px; margin-top: -0.71875px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news6.jpg?1460665500130" height="675" width="1200"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_6"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news7.jpg?1460665612131" height="1100" width="1650"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_7"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news8.jpg?1460665730131" height="1270" width="1905"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_8"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news9.jpg?1460665849131" height="1900" width="2850"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_9"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news10.jpg?1460665967135" height="1280" width="1920"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_10"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news11.jpg?1460666085130" height="1280" width="1920"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_11"><img data-portrait="" data-alignment="" style="visibility: visible; height: 618px; margin-left: 0px; margin-top: -49px; position: absolute; width: 927px;" class="imgLoaded" src="images/big-news12.jpg?1460666205132" height="1000" width="1500"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div><div style="z-index: 1; display: none;" class="cameraSlide cameraSlide_12 cameranext"><div style="width: 927px; height: 520px;" class="camerarelative"></div></div></div></div><div class="camera_overlayer"></div><div class="camera_target_content"><div class="cameraContents"><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: block;" class="cameraContent cameracurrent"><div style="visibility: visible; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div></div></div><div style="top: auto; height: 7px;" class="camera_bar"><span style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);" class="camera_bar_cont"><span style="opacity: 0; position: absolute; background-color: rgb(238, 238, 238); left: 0px; right: 0px; top: 2px; bottom: 2px; display: block;" id="pie_0"></span></span></div><div style="opacity: 0;" class="camera_prev"><span><i class="fa fa-chevron-left"></i></span></div><div style="opacity: 0;" class="camera_next"><span><i class="fa fa-chevron-right"></i></span></div></div><div><div class="camera_thumbs"><div><div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div><div class="camera_nextThumbs hideNav"><div></div></div><div style="visibility: visible;" class="camera_thumbs_cont"><div><ul style="width: 824px; margin-left: auto; margin-right: auto; margin-top: 0px;"><li class="pix_thumb pix_thumb_0 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news1.jpg"></li><li class="pix_thumb pix_thumb_1 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news2.jpg"></li><li class="pix_thumb pix_thumb_2 cameracurrent camera_visThumb"><img style="opacity: 1;" class="camera_thumb" src="images/big-news3.jpg"></li><li class="pix_thumb pix_thumb_3 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news4.jpg"></li><li class="pix_thumb pix_thumb_4 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news5.jpg"></li><li class="pix_thumb pix_thumb_5 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news6.jpg"></li><li class="pix_thumb pix_thumb_6 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news7.jpg"></li><li class="pix_thumb pix_thumb_7 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news8.jpg"></li><li class="pix_thumb pix_thumb_8 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news9.jpg"></li><li class="pix_thumb pix_thumb_9 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news10.jpg"></li><li class="pix_thumb pix_thumb_10 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news11.jpg"></li><li class="pix_thumb pix_thumb_11 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news12.jpg"></li></ul></div></div></div></div></div></div><div style="display: none; visibility: visible;" class="camera_loader"></div></div>
                        </div>
                        <!-- Thumbnail Slider 2 -->
                        <div style="display: none;" id="News-category2">
                            <div style="display: block; height: 520px; margin-bottom: 0px;" class="camera_wrap camera_magenta_skin" id="camera_wrap_2"><div class="camera_fakehover"><div class="camera_src camerastarted">
                                        <div data-thumb="images/big-news2.jpg" data-src="images/big-news2.jpg">

                                        </div>
                                        <div data-thumb="images/big-news1.jpg" data-src="images/big-news1.jpg">

                                        </div>
                                        <div data-thumb="images/big-news3.jpg" data-src="images/big-news3.jpg">

                                        </div>
                                        <div data-thumb="images/big-news4.jpg" data-src="images/big-news4.jpg">

                                        </div>
                                        <div data-thumb="images/big-news5.jpg" data-src="images/big-news5.jpg">

                                        </div>
                                        <div data-thumb="images/big-news6.jpg" data-src="images/big-news6.jpg">

                                        </div>
                                        <div data-thumb="images/big-news7.jpg" data-src="images/big-news7.jpg">

                                        </div>
                                        <div data-thumb="images/big-news8.jpg" data-src="images/big-news8.jpg">

                                        </div>
                                        <div data-thumb="images/big-news9.jpg" data-src="images/big-news9.jpg">

                                        </div>
                                        <div data-thumb="images/big-news10.jpg" data-src="images/big-news10.jpg">

                                        </div>
                                        <div data-thumb="images/big-news11.jpg" data-src="images/big-news11.jpg">

                                        </div>
                                        <div data-thumb="images/big-news12.jpg" data-src="images/big-news12.jpg">

                                        </div>
                                    </div><div class="camera_target"><div class="cameraCont"><div style="visibility: visible; display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_0"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news2.jpg?1460665149516" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_1"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news1.jpg?1460665150310" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: block; z-index: 999;" class="cameraSlide cameraSlide_2 cameracurrent"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news3.jpg?1460665197178" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_3 cameranext"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news4.jpg?1460665304138" height="1080" width="1620"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_4"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news5.jpg?1460665411136" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_5"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -412.222px; margin-top: 0px; position: absolute; width: 924.444px;" class="imgLoaded" src="images/big-news6.jpg?1460665513135" height="675" width="1200"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_6"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news7.jpg?1460665628134" height="1100" width="1650"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_7"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news8.jpg?1460665748134" height="1270" width="1905"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_8"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news9.jpg?1460665868134" height="1900" width="2850"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_9"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news10.jpg?1460665988135" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_10"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news11.jpg?1460666108134" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_11"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news12.jpg?1460666228137" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="z-index: 1; display: none;" class="cameraSlide cameraSlide_12 cameranext"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div></div></div><div class="camera_overlayer"></div><div class="camera_target_content"><div class="cameraContents"><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: block;" class="cameraContent cameracurrent"><div style="visibility: visible; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div></div></div><div style="top: auto; height: 7px;" class="camera_bar"><span style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);" class="camera_bar_cont"><span id="pie_0"></span></span></div><div style="opacity: 0;" class="camera_prev"><span><i class="fa fa-chevron-left"></i></span></div><div style="opacity: 0;" class="camera_next"><span><i class="fa fa-chevron-right"></i></span></div></div><div><div class="camera_thumbs"><div><div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div><div class="camera_nextThumbs hideNav"><div></div></div><div style="visibility: visible;" class="camera_thumbs_cont"><div><ul style="width: 8px; margin-left: auto; margin-right: auto; margin-top: 0px;"><li class="pix_thumb pix_thumb_0 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news2.jpg"></li><li class="pix_thumb pix_thumb_1 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news1.jpg"></li><li class="pix_thumb pix_thumb_2 cameracurrent camera_visThumb"><img style="opacity: 1;" class="camera_thumb" src="images/big-news3.jpg"></li><li class="pix_thumb pix_thumb_3 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news4.jpg"></li><li class="pix_thumb pix_thumb_4 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news5.jpg"></li><li class="pix_thumb pix_thumb_5 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news6.jpg"></li><li class="pix_thumb pix_thumb_6 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news7.jpg"></li><li class="pix_thumb pix_thumb_7 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news8.jpg"></li><li class="pix_thumb pix_thumb_8 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news9.jpg"></li><li class="pix_thumb pix_thumb_9 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news10.jpg"></li><li class="pix_thumb pix_thumb_10 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news11.jpg"></li><li class="pix_thumb pix_thumb_11 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news12.jpg"></li></ul></div></div></div></div></div></div><div style="visibility: visible; display: none;" class="camera_loader"></div></div>
                        </div>
                        <!-- Thumbnail Slider 3 -->
                        <div style="display: none;" id="News-category3">
                            <div style="display: block; height: 520px; margin-bottom: 0px;" class="camera_wrap camera_magenta_skin" id="camera_wrap_3"><div class="camera_fakehover"><div class="camera_src camerastarted">
                                        <div data-thumb="images/big-news3.jpg" data-src="images/big-news3.jpg">

                                        </div>
                                        <div data-thumb="images/big-news2.jpg" data-src="images/big-news2.jpg">

                                        </div>
                                        <div data-thumb="images/big-news3.jpg" data-src="images/big-news3.jpg">

                                        </div>
                                        <div data-thumb="images/big-news4.jpg" data-src="images/big-news4.jpg">

                                        </div>
                                        <div data-thumb="images/big-news5.jpg" data-src="images/big-news5.jpg">

                                        </div>
                                        <div data-thumb="images/big-news6.jpg" data-src="images/big-news6.jpg">

                                        </div>
                                        <div data-thumb="images/big-news7.jpg" data-src="images/big-news7.jpg">

                                        </div>
                                        <div data-thumb="images/big-news8.jpg" data-src="images/big-news8.jpg">

                                        </div>
                                        <div data-thumb="images/big-news9.jpg" data-src="images/big-news9.jpg">

                                        </div>
                                        <div data-thumb="images/big-news10.jpg" data-src="images/big-news10.jpg">

                                        </div>
                                        <div data-thumb="images/big-news11.jpg" data-src="images/big-news11.jpg">

                                        </div>
                                        <div data-thumb="images/big-news12.jpg" data-src="images/big-news12.jpg">

                                        </div>
                                    </div><div class="camera_target"><div class="cameraCont"><div style="visibility: visible; display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_0"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news3.jpg?1460665149565" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_1"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news2.jpg?1460665149913" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: block; z-index: 999;" class="cameraSlide cameraSlide_2 cameracurrent"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news3.jpg?1460665197889" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_3 cameranext"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news4.jpg?1460665296139" height="1080" width="1620"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_4"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news5.jpg?1460665384136" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_5"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -412.222px; margin-top: 0px; position: absolute; width: 924.444px;" class="imgLoaded" src="images/big-news6.jpg?1460665461137" height="675" width="1200"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_6"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news7.jpg?1460665580137" height="1100" width="1650"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_7"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news8.jpg?1460665700136" height="1270" width="1905"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_8"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news9.jpg?1460665820137" height="1900" width="2850"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_9"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news10.jpg?1460665940139" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_10"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news11.jpg?1460666060135" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_11"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news12.jpg?1460666180135" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="z-index: 1; display: none;" class="cameraSlide cameraSlide_12 cameranext"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div></div></div><div class="camera_overlayer"></div><div class="camera_target_content"><div class="cameraContents"><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: block;" class="cameraContent cameracurrent"><div style="visibility: visible; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div></div></div><div style="top: auto; height: 7px;" class="camera_bar"><span style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);" class="camera_bar_cont"><span id="pie_0"></span></span></div><div style="opacity: 0;" class="camera_prev"><span><i class="fa fa-chevron-left"></i></span></div><div style="opacity: 0;" class="camera_next"><span><i class="fa fa-chevron-right"></i></span></div></div><div><div class="camera_thumbs"><div><div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div><div class="camera_nextThumbs hideNav"><div></div></div><div style="visibility: visible;" class="camera_thumbs_cont"><div><ul style="width: 8px; margin-left: auto; margin-right: auto; margin-top: 0px;"><li class="pix_thumb pix_thumb_0 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news3.jpg"></li><li class="pix_thumb pix_thumb_1 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news2.jpg"></li><li class="pix_thumb pix_thumb_2 cameracurrent camera_visThumb"><img style="opacity: 1;" class="camera_thumb" src="images/big-news3.jpg"></li><li class="pix_thumb pix_thumb_3 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news4.jpg"></li><li class="pix_thumb pix_thumb_4 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news5.jpg"></li><li class="pix_thumb pix_thumb_5 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news6.jpg"></li><li class="pix_thumb pix_thumb_6 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news7.jpg"></li><li class="pix_thumb pix_thumb_7 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news8.jpg"></li><li class="pix_thumb pix_thumb_8 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news9.jpg"></li><li class="pix_thumb pix_thumb_9 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news10.jpg"></li><li class="pix_thumb pix_thumb_10 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news11.jpg"></li><li class="pix_thumb pix_thumb_11 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news12.jpg"></li></ul></div></div></div></div></div></div><div style="visibility: visible; display: none;" class="camera_loader"></div></div>
                        </div>
                        <!-- Thumbnail Slider 4 -->
                        <div style="display: none;" id="News-category4">
                            <div style="display: block; height: 520px; margin-bottom: 0px;" class="camera_wrap camera_magenta_skin" id="camera_wrap_4"><div class="camera_fakehover"><div class="camera_src camerastarted">
                                        <div data-thumb="images/big-news4.jpg" data-src="images/big-news4.jpg">

                                        </div>
                                        <div data-thumb="images/big-news2.jpg" data-src="images/big-news2.jpg">

                                        </div>
                                        <div data-thumb="images/big-news3.jpg" data-src="images/big-news3.jpg">

                                        </div>
                                        <div data-thumb="images/big-news4.jpg" data-src="images/big-news4.jpg">

                                        </div>
                                        <div data-thumb="images/big-news5.jpg" data-src="images/big-news5.jpg">

                                        </div>
                                        <div data-thumb="images/big-news6.jpg" data-src="images/big-news6.jpg">

                                        </div>
                                        <div data-thumb="images/big-news7.jpg" data-src="images/big-news7.jpg">

                                        </div>
                                        <div data-thumb="images/big-news8.jpg" data-src="images/big-news8.jpg">

                                        </div>
                                        <div data-thumb="images/big-news9.jpg" data-src="images/big-news9.jpg">

                                        </div>
                                        <div data-thumb="images/big-news10.jpg" data-src="images/big-news10.jpg">

                                        </div>
                                        <div data-thumb="images/big-news11.jpg" data-src="images/big-news11.jpg">

                                        </div>
                                        <div data-thumb="images/big-news12.jpg" data-src="images/big-news12.jpg">

                                        </div>
                                    </div><div class="camera_target"><div class="cameraCont"><div style="visibility: visible; display: none; z-index: 1;" class="cameraSlide cameraSlide_0"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news4.jpg?1460665149615" height="1080" width="1620"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: block; z-index: 999;" class="cameraSlide cameraSlide_1 cameracurrent"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news2.jpg?1460665150545" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_2 cameranext"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news3.jpg?1460665198807" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_3"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news4.jpg?1460665316135" height="1080" width="1620"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_4"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news5.jpg?1460665436136" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_5"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -412.222px; margin-top: 0px; position: absolute; width: 924.444px;" class="imgLoaded" src="images/big-news6.jpg?1460665556137" height="675" width="1200"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_6"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news7.jpg?1460665676135" height="1100" width="1650"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_7"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news8.jpg?1460665796134" height="1270" width="1905"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_8"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news9.jpg?1460665916137" height="1900" width="2850"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_9"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news10.jpg?1460666036137" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_10"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news11.jpg?1460666156135" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_11"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news12.jpg?1460666252689" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="z-index: 1; display: none;" class="cameraSlide cameraSlide_12 cameranext"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div></div></div><div class="camera_overlayer"></div><div class="camera_target_content"><div class="cameraContents"><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: block;" class="cameraContent cameracurrent"><div style="visibility: visible; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div></div></div><div style="top: auto; height: 7px;" class="camera_bar"><span style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);" class="camera_bar_cont"><span id="pie_0"></span></span></div><div style="opacity: 0;" class="camera_prev"><span><i class="fa fa-chevron-left"></i></span></div><div style="opacity: 0;" class="camera_next"><span><i class="fa fa-chevron-right"></i></span></div></div><div><div class="camera_thumbs"><div><div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div><div class="camera_nextThumbs hideNav"><div></div></div><div style="visibility: visible;" class="camera_thumbs_cont"><div><ul style="width: 8px; margin-left: auto; margin-right: auto; margin-top: 0px;"><li class="pix_thumb pix_thumb_0 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news4.jpg"></li><li class="pix_thumb pix_thumb_1 cameracurrent camera_visThumb"><img style="opacity: 1;" class="camera_thumb" src="images/big-news2.jpg"></li><li class="pix_thumb pix_thumb_2 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news3.jpg"></li><li class="pix_thumb pix_thumb_3 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news4.jpg"></li><li class="pix_thumb pix_thumb_4 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news5.jpg"></li><li class="pix_thumb pix_thumb_5 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news6.jpg"></li><li class="pix_thumb pix_thumb_6 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news7.jpg"></li><li class="pix_thumb pix_thumb_7 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news8.jpg"></li><li class="pix_thumb pix_thumb_8 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news9.jpg"></li><li class="pix_thumb pix_thumb_9 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news10.jpg"></li><li class="pix_thumb pix_thumb_10 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news11.jpg"></li><li class="pix_thumb pix_thumb_11 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news12.jpg"></li></ul></div></div></div></div></div></div><div style="visibility: visible; display: none;" class="camera_loader"></div></div>
                        </div>
                        <!-- Thumbnail Slider 5 -->
                        <div style="display: none;" id="News-category5">
                            <div style="display: block; height: 520px; margin-bottom: 0px;" class="camera_wrap camera_magenta_skin" id="camera_wrap_5"><div class="camera_fakehover"><div class="camera_src camerastarted">
                                        <div data-thumb="images/big-news5.jpg" data-src="images/big-news5.jpg">

                                        </div>
                                        <div data-thumb="images/big-news2.jpg" data-src="images/big-news2.jpg">

                                        </div>
                                        <div data-thumb="images/big-news3.jpg" data-src="images/big-news3.jpg">

                                        </div>
                                        <div data-thumb="images/big-news4.jpg" data-src="images/big-news4.jpg">

                                        </div>
                                        <div data-thumb="images/big-news5.jpg" data-src="images/big-news5.jpg">

                                        </div>
                                        <div data-thumb="images/big-news6.jpg" data-src="images/big-news6.jpg">

                                        </div>
                                        <div data-thumb="images/big-news7.jpg" data-src="images/big-news7.jpg">

                                        </div>
                                        <div data-thumb="images/big-news8.jpg" data-src="images/big-news8.jpg">

                                        </div>
                                        <div data-thumb="images/big-news9.jpg" data-src="images/big-news9.jpg">

                                        </div>
                                        <div data-thumb="images/big-news10.jpg" data-src="images/big-news10.jpg">

                                        </div>
                                        <div data-thumb="images/big-news11.jpg" data-src="images/big-news11.jpg">

                                        </div>
                                        <div data-thumb="images/big-news12.jpg" data-src="images/big-news12.jpg">

                                        </div>
                                    </div><div class="camera_target"><div class="cameraCont"><div style="visibility: visible; display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_0"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news5.jpg?1460665149663" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_1"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news2.jpg?1460665150482" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: block; z-index: 999;" class="cameraSlide cameraSlide_2 cameracurrent"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news3.jpg?1460665199516" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_3 cameranext"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news4.jpg?1460665312135" height="1080" width="1620"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_4"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news5.jpg?1460665429133" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_5"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -412.222px; margin-top: 0px; position: absolute; width: 924.444px;" class="imgLoaded" src="images/big-news6.jpg?1460665547136" height="675" width="1200"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1; margin-left: 0px; margin-top: 0px;" class="cameraSlide cameraSlide_6"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news7.jpg?1460665666136" height="1100" width="1650"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_7"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news8.jpg?1460665786134" height="1270" width="1905"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_8"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news9.jpg?1460665907138" height="1900" width="2850"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_9"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news10.jpg?1460666026135" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_10"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news11.jpg?1460666143135" height="1280" width="1920"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="display: none; z-index: 1;" class="cameraSlide cameraSlide_11"><img data-portrait="" data-alignment="" style="visibility: visible; height: 520px; margin-left: -340px; margin-top: 0px; position: absolute; width: 780px;" class="imgLoaded" src="images/big-news12.jpg?1460666247882" height="1000" width="1500"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div><div style="z-index: 1; display: none;" class="cameraSlide cameraSlide_12 cameranext"><div style="width: 100px; height: 520px;" class="camerarelative"></div></div></div></div><div class="camera_overlayer"></div><div class="camera_target_content"><div class="cameraContents"><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: block;" class="cameraContent cameracurrent"><div style="visibility: visible; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div><div style="display: none;" class="cameraContent"><div style="visibility: hidden; opacity: 1; bottom: 0px;" class="camera_caption fadeFromBottom"><div></div></div></div></div></div><div style="top: auto; height: 7px;" class="camera_bar"><span style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);" class="camera_bar_cont"><span id="pie_0"></span></span></div><div style="opacity: 0;" class="camera_prev"><span><i class="fa fa-chevron-left"></i></span></div><div style="opacity: 0;" class="camera_next"><span><i class="fa fa-chevron-right"></i></span></div></div><div><div class="camera_thumbs"><div><div class="camera_command_wrap"><div class="camera_prevThumbs hideNav"><div></div></div><div class="camera_nextThumbs hideNav"><div></div></div><div style="visibility: visible;" class="camera_thumbs_cont"><div><ul style="width: 8px; margin-left: auto; margin-right: auto; margin-top: 0px;"><li class="pix_thumb pix_thumb_0 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news5.jpg"></li><li class="pix_thumb pix_thumb_1 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news2.jpg"></li><li class="pix_thumb pix_thumb_2 cameracurrent camera_visThumb"><img style="opacity: 1;" class="camera_thumb" src="images/big-news3.jpg"></li><li class="pix_thumb pix_thumb_3 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news4.jpg"></li><li class="pix_thumb pix_thumb_4 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news5.jpg"></li><li class="pix_thumb pix_thumb_5 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news6.jpg"></li><li class="pix_thumb pix_thumb_6 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news7.jpg"></li><li class="pix_thumb pix_thumb_7 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news8.jpg"></li><li class="pix_thumb pix_thumb_8 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news9.jpg"></li><li class="pix_thumb pix_thumb_9 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news10.jpg"></li><li class="pix_thumb pix_thumb_10 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news11.jpg"></li><li class="pix_thumb pix_thumb_11 camera_visThumb"><img style="opacity: 0.5;" class="camera_thumb" src="images/big-news12.jpg"></li></ul></div></div></div></div></div></div><div style="visibility: visible; display: none;" class="camera_loader"></div></div>
                        </div>
                    </div>
                </div>
                <div class="col l3 col m12 col s12">
                    {{ render(controller('AppBundle:Default:topStories')) }}
                </div>
            </div>
        </section>
{% endblock %}