<nav role="navigation"  class="container hide-on-small-only hide-on-med-and-down">
    <div class="nav-wrapper menu-category">
        <ul>
            <li>
                <div class="logo">
                    <a href="{{ path('app_default_homepage') }}"><img src="{{ asset('bundles/app/images/logo_233.png') }}" alt="{{ 'Flare Up' }}"></a>
                </div>
            </li>
            {% for category in categories %}
            <li>
                <ul class="news-category-dropdown">
                    <li>
                        <a href="{{ category.url }}" class="inline-{{ category.id }}">{{ category.name }} {#<i class="fa fa-angle-down"></i>#}</a>
                        {#<ul>#}
                            {#<li class="active"><a href="index.html">Home Page 1</a></li>#}
                            {#<li><a href="index2.html">Home Page 2</a></li>#}
                            {#<li><a href="index3.html">Home Page 3</a></li>#}
                        {#</ul>#}
                    </li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="logo hide-on-large-only  show-on-medium-and-down">
    <ul>
        <li>
            <a href="{{ path('app_default_homepage') }}"><img src="{{ asset('bundles/app/images/logo_233.png') }}" alt="{{ 'Flare Up' }}"></a>
        </li>
    </ul>
</div>
<style>
    {% for category in categories %}
        .nav-wrapper.menu-category a.inline-{{ category.id }}::after {
            background-color: #{{ category.color }} !important
        }
        .nav-wrapper.menu-category .logo a {
            border: 0;
        }
    {% endfor %}
</style>
