<nav role="navigation"  class="hide-on-small-only">
    <div class="nav-wrapper menu-category">
        <ul>
            {% for category in categories %}
            <li>
                <ul class="news-category-dropdown">
                    <li>
                        <a href="{{ category.url }}" class="inline-{{ category.id }}">{{ category.name }} {#<i class="fa fa-angle-down"></i>#}</a>
                        {#<ul>#}
                            {#<li class="active"><a href="index.html">Home Page 1</a></li>#}
                            {#<li><a href="index2.html">Home Page 2</a></li>#}
                            {#<li><a href="index3.html">Home Page 3</a></li>#}
                        {#</ul>#}
                    </li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<style>
    {% for category in categories %}
        .nav-wrapper.menu-category a.inline-{{ category.id }}::after {
            background-color: #{{ category.color }} !important
        }
    {% endfor %}
</style>
