{{ form_start(form, {'attr': {'class': 'searchbox', 'action': path('app_fo_search_result')}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form.search) }}
    {{ form_widget(form.save) }}
    <span class="searchbox-icon"><i class="mdi-action-search fa fa-search"></i></span>
    {{ form_rest(form) }}
{{ form_end(form) }}