<ul class="pgwSlider">
    {% for article in articles %}
        <li>
            <!-- News Slider Image -->
            <img src="{{ asset('uploads/article/'~article.picture|e) }}" alt="{{ article.title }}">
            <!-- News Slider Content -->
            <div class="news-content">
                <div class="news-time" style="color: #{{ article.category.color }}">
                    <small>{{ article.category.name }}</small>
                </div>
                <div class="news-title big"><h2> <a href="javascript:void(0);">{{ article.title }}</a> </h2></div>
                <p class="news-detail">{{ article.smallContent }}</p>
            </div>
        </li>
    {% endfor %}
</ul>