
<div class="col l9 col m12 col s12">
    <!-- Thumbnail Slider -->
    <div class="thumbnail-slider z-depth-1">
        <!-- Thumbnail Slider Category -->
        {#<ul class="tabs">#}
            {#<li class="tab"><a class="active" href="#News-category1">{{ 'Pictures'|trans }}</a></li>#}
        {#</ul>#}
        <!-- Thumbnail Slider 1 -->
        <div id="News-category1">
            <div class="camera_wrap camera_magenta_skin" id="camera_wrap_1">
                {% for picture in pictures %}
                    <div data-thumb="{{ asset('uploads/picture/'~picture.picture|e) }}" data-src="{{ asset('uploads/picture/'~picture.picture|e) }}">
                        <div class="camera_caption fadeFromBottom">{{ picture.title  }}
                            <a class="fancybox-home" rel="group" href="{{ asset('uploads/picture/'~picture.picture|e) }}" title="{{ picture.comment |nl2br }}"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
