<div class="social-icon">
    {% if parameter.facebook is not null %}
        <a target="_blank" href="{{ parameter.facebook }}"><i class="fa fa-facebook"></i></a>
    {% endif %}

    {% if parameter.twitter is not null %}
        <a target="_blank" href="{{ parameter.facebook }}"><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if parameter.pinterest is not null %}
        <a target="_blank" href="{{ parameter.pinterest }}"><i class="fa fa-pinterest"></i></a>
    {% endif %}

    {% if parameter.instagram is not null %}
        <a target="_blank" href="{{ parameter.instagram }}"><i class="fa fa-instagram"></i></a>
    {% endif %}

    {% if parameter.youtube is not null %}
        <a target="_blank" href="{{ parameter.youtube }}"><i class="fa fa-youtube"></i></a>
    {% endif %}

    {% if parameter.vimeo is not null %}
        <a target="_blank" href="{{ parameter.vimeo }}"><i class="fa fa-vimeo"></i></a>
    {% endif %}

    {% if parameter.linkedin is not null %}
        <a target="_blank" href="{{ parameter.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if parameter.googlePlus is not null %}
        <a target="_blank" href="{{ parameter.googlePlus }}"><i class="fa fa-google-plus"></i></a>
    {% endif %}

    {% if parameter.rss is not null %}
        <a target="_blank" href="{{ parameter.rss }}"><i class="fa fa-rss"></i></a>
    {% endif %}
</div>